.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(240, 240, 240);
    font-family: 'Poppins';
    color: hsl(234, 12%, 34%);

    padding: 0 20px;
    min-height: 100vh;
}

.topCard {
    text-align: center;
    max-width: 560px;
    margin: 70px 0;
}

.topTitle {
    font-weight: 200;
}

.topComment {
    font-size: 16px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-bottom: 70px;
}

.centerCards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sideCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 992px) {    
    .cardContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {    
    .topTitle {
        font-size: 26px;
    }
}
